<div class="span12">
  <h1>{{ name }}</h1>
  <p>{{ description }}</p>
</div>
{{input type="text" class="form-control" placeholder="What do you have to do?" value=newTask action="createNewTask"}}
{{partial 'tasks'}}